<app-loadingspinner [showSpinner]="isLoading"></app-loadingspinner>


<div class="container my-5">
    <div class="row" id="page-content">
        <div *ngFor="let person of actorsList ; let i = index" class="col-md-4 my-2" >
            <div class="person-item">
                    <div class="person-image">
                        <img class="w-100 rounded" [src]="imgPrefix+person.image" alt="">

                        <div class="person-overlay">
                            <button class="btn btn-info">See more</button>
                        </div>
                    </div>


                    <h3 class="person-title">{{person.name}}</h3>
                
            </div>
        </div>
    </div>





</div>

