section{
    background-image: url('../../../assets/images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
    height: 93vh; 
    position: relative;
    overflow: hidden;
}

.overlay-bg{
    background: rgba($color: #131722, $alpha: 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.container{
    height: 60vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

// .owl-item {min-width: 500px; width:500px !important; }




